@font-face {
  font-family: 'icon';
  src:  url('fonts/icon.eot?l54xdw');
  src:  url('fonts/icon.eot?l54xdw#iefix') format('embedded-opentype'),
    url('fonts/icon.ttf?l54xdw') format('truetype'),
    url('fonts/icon.woff?l54xdw') format('woff'),
    url('fonts/icon.svg?l54xdw#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="gcem-"], [class*=" gcem-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gcem-location:before {
  content: "\e900";
}
.gcem-arrow-up:before {
  content: "\ea3a";
}
.gcem-arrow-down:before {
  content: "\ea3e";
}
